@import "tailwindcss";

@theme{
    --color-primay: #AA60C8;
    --color-secondary: #7F55B1;
}



.container{
    max-width: 1140px;
    margin: 0 auto;
}

@layer components{
    .headerTopMenu{
        @apply flex items-center gap-1 border-r-2 border-gray-400 px-4
    }
}
